html > body{
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  
  max-width: 700px;

  background-color: #d2b48c;
}


.mezo{
  background-color: #664229;
  color: #e5d3b3;
  padding: 35px;
  width: 700px;
  text-align: justify;
}


